| Version | Published Date| Details |
| -- | -- | -- |
| ver.1.0.0 | 2024/02/14 | 初版リリース |

**↓必ず最初にセットアップ用のセルを実行し、完了（セルの左端にチェックマーク）してから取り組んでください。**

In [1]:
!git clone https://github.com/TechBowl-japan/SQLRailway-setup.git
!sudo sh ./SQLRailway-setup/setup.sh
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306/sql_railway

Cloning into 'SQLRailway-setup'...
remote: Enumerating objects: 66, done.
remote: Counting objects: 100% (66/66), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 66 (delta 25), reused 60 (delta 19), pack-reused 0
Receiving objects: 100% (66/66), 20.18 KiB | 10.09 MiB/s, done.
Resolving deltas: 100% (25/25), done.

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 25.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
su: warning: cannot change directory to /nonexistent: No such file or directory
mysql: [Warning] Using a password on the command line interface can be insecure.
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00

# SQL Railway へようこそ！

Railway は実践型の開発ドリルです。Station と呼ばれるいくつかの設問から構成されています。SQL Railway ではデータ分析の基本である SQL を学びます。

## はじめに

データ分析は近年注目されているビジネススキルのひとつです。ビジネスの課題解決を直感や経験に頼って行うのではなく、データからその課題を捉え直し、データを用いて課題解決をすることが求められています。さまざまなデータが蓄積されるようになった現代において、データ分析の重要性はますます高まっています。データを分析するには、まずデータを取得する必要があります。これまで、データを取り扱う業務はエンジニアの仕事でした。しかし、データ分析の重要性が高まるにつれ、データを取得する業務はエンジニアだけでなく、データ分析を行うすべてのビジネスメンバーにも求められるようになってきました。多くの企業や組織において、データはデータベースと呼ばれるシステムに蓄積されています。データベースに蓄積されたデータを取得するために必要な技術こそが SQL（エスキューエル）です。SQL はクエリと呼ばれる短いプログラムを用いてデータベースから任意の形式でデータを取り出す技術です。この技術を使いこなせるようになれば、エンジニアの手を借りずともデータを活用した課題解決に取り組むことができるようになります。

SQL にはエンジニアがアプリケーション開発のために利用する機能がたくさんありますが、ビジネススキルとしては基本的にデータを取得するための機能を使いこなせれば十分です。そこで、本 Railway では、データを取得するための機能を中心に学習を進めます。


## SQLとは

このRailwayのタイトルにもなっている「SQL」。SQLとは「Structured Query Language(構造化クエリ言語)」の略です。日本語では「エスキューエル」と呼ぶことが多いですが、英語では「シークル」と発音されます。どちらも正しいので、どちらでも構いません。

このSQLを使ってデータベースに問い合わせて、欲しいデータを取得します。

## リレーショナルデータベース (RDB)

データベースにもいくつか種類があり、SQLで操作できるのはリレーショナルデータベース（RDB）というデータベースです。

リレーショナルデータベースとはデータを表形式で保存し、表と表の関連を定義するデータベースのことです。

この表ひとまとまりのことをテーブルと呼びます。

MySQL、PostgreSQL、SQLite、Oracle Databaseなどのデータベースが有名です。これらのデータベースはそれぞれ強みがあり、用途によって使い分けられています。SQLの文法はどのデータベースでも共通していますが、データベースによっては使えない機能もありますので、注意が必要です。

このRailwayではMySQLを使います。基本的なSQLの文法を取り扱うため、他のデータベースでも同じように使えるものがほとんどですが、一部MySQL固有のものもあります。その場合は、MySQL固有のものであることを明記します。

# データを取り出してみよう

この Station ではデータベースに登録されているテーブルからデータを取り出すための基本である `SELECT` 文の取り扱いについて学びます。

## SELECT文をつかおう

データベースからデータを取り出すには `SELECT` 文を使います。
まずは次のセルを実行してみましょう。

In [2]:
%sql SELECT * FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
84 rows affected.

[(1, '田中 花子', datetime.date(1985, 3, 12), '女', 37, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (2, '山田 太郎', datetime.date(1990, 7, 25), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (3, '鈴木 一郎', datetime.date(1988, 11, 5), '男', 34, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (4, '佐藤 由美', datetime.date(1995, 5, 18), '女', 27, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (5, '小林 健太', datetime.date(1980, 9, 30), '男', 42, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (6, '渡辺 美咲', datetime.date(1998, 2, 22), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (7, '中村 健司', datetime.date(1983, 8, 14), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (8, '木村 美香', datetime.date(1991, 12, 7), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (9, '高橋 啓介', datetime.date(1977, 4, 9), '男', 45, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (10, '吉田 さくら', datetime.date(1987, 6, 3), '女', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (12, '岡田 佳子', datetime.date(1982, 1, 23), '女', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (13, '松本 明日香', datetime.date(1997, 9, 28), '女', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (14, '伊藤 勇太', datetime.date(1986, 3, 1), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (15, '大西 みさ', datetime.date(1994, 7, 11), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (16, '古川 健太郎', datetime.date(1975, 11, 20), '男', 47, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (17, '小山 美沙', datetime.date(1996, 4, 5), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (18, '野口 裕太', datetime.date(1989, 12, 15), '男', 33, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (19, '橋本 美和', datetime.date(1999, 8, 19), '女', 23, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (20, '三浦 健太', datetime.date(1981, 2, 8), '男', 41, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (21, '井上 あや', datetime.date(1992, 6, 28), '女', 30, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (22, '斉藤 太一', datetime.date(1979, 10, 12), '男', 43, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (23, '北村 さやか', datetime.date(1990, 3, 26), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (24, '西田 和彦', datetime.date(1984, 5, 14), '男', 38, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (25, '山口 まり', datetime.date(1993, 9, 8), '女', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (26, '吉岡 修', datetime.date(1978, 7, 3), '男', 44, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (27, '佐々木 みさき', datetime.date(1997, 1, 10), '女', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (28, '岩崎 大輔', datetime.date(1980, 4, 27), '男', 42, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (29, '村上 亜美', datetime.date(1995, 8, 21), '女', 27, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (30, '高田 勇也', datetime.date(1987, 12, 3), '男', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (32, '宮崎 隆', datetime.date(1983, 2, 18), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (34, '森田 裕太', datetime.date(1976, 8, 23), '男', 46, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (36, '神田 健一', datetime.date(1986, 5, 5), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (38, '杉山 勇輝', datetime.date(1982, 9, 2), '男', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (40, '服部 剛', datetime.date(1990, 1, 1), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (41, '岸田 あさみ', datetime.date(1985, 4, 13), '女', 37, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (42, '中田 裕介', datetime.date(1997, 10, 25), '男', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (43, '松岡 さや', datetime.date(1989, 6, 8), '女', 33, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (44, '高野 大輔', datetime.date(1984, 12, 22), '男', 38, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (45, '福田 美穂', datetime.date(1992, 2, 4), '女', 30, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (46, '清水 賢太', datetime.date(1977, 6, 17), '男', 45, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (47, '石井 美紀', datetime.date(1993, 5, 29), '女', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (48, '宮本 啓太', datetime.date(1981, 11, 11), '男', 41, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (49, '安田 さやか', datetime.date(1998, 9, 1), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (50, '新井 健太', datetime.date(1996, 10, 3), '男', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (51, '田中 花子', datetime.date(2018, 5, 15), '女', 4, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (52, '山田 太郎', datetime.date(1920, 12, 2), '男', 102, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (53, '鈴木 一郎', datetime.date(2011, 8, 20), '男', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (54, '佐藤 由美', datetime.date(2022, 3, 10), '女', 0, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (55, '渡辺 美咲', datetime.date(2020, 11, 25), '女', 2, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (56, '中村 健司', datetime.date(1930, 9, 8), '男', 92, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (57, '木村 美香', datetime.date(1932, 2, 14), '女', 90, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (58, '高橋 啓介', datetime.date(2015, 6, 30), '男', 7, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (59, '吉田 さくら', datetime.date(1930, 4, 5), '女', 92, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (60, '田村 裕太', datetime.date(2018, 10, 22), '男', 4, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (61, '岡田 佳子', datetime.date(1929, 3, 7), '女', 93, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (62, '松本 明日香', datetime.date(1940, 1, 12), '女', 82, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (63, '田中 太郎', datetime.date(2010, 8, 3), '男', 12, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (64, '高橋 雅子', datetime.date(2001, 1, 1), '女', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (65, '鈴木 美香', datetime.date(2002, 1, 1), '女', 20, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (66, '谷田部 悠太', datetime.date(2000, 5, 24), '男', 22, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (67, '佐藤 花子', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (69, '吉田 一郎', datetime.date(2010, 5, 23), '男', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (70, '渡辺 由美', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (71, '高橋 健太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (72, '中村 美咲', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (73, '鈴木 健司', datetime.date(1990, 1, 20), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (74, '大西 美香', datetime.date(2000, 11, 10), '女', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (75, '小林 啓介', datetime.date(2010, 5, 23), '男', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (77, '岡田 裕太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (78, '松本 佳子', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (79, '伊藤 明日香', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (81, '木村 みさ', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (82, '山田 菜々子', datetime.date(2004, 4, 1), '女', 18, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (83, '佐藤 みゆき', datetime.date(2004, 4, 3), '女', 18, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (84, '田中 美優', datetime.date(2004, 4, 5), '女', 18, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]

ユーザー一覧が表形式で出力されれば成功です。もしうまく表示されない場合は、このファイルの先頭にある セットアップ用のセル を実行していない可能性があります。必ず実行してから取り組んでください。

実行したクエリについて説明します。

データを取り出す場合は `SELECT` をはじめに宣言します。その後ろに、どのようなデータを、どのような形式で取り出すかを指定します。

データベースのテーブルには、複数の列があります。この列のことをカラムと呼びます。カラムはそれぞれ名前がついています。この名前を指定することで、そのカラムのデータを取り出すことができます。また行のことをレコードと言います。

![station1_01](https://drive.google.com/uc?id=1a7dDvR_fLa71wA0oWiwsmh2FirWA8PPq)

ここで指定されている `*` は「全て」ということを表ています。つまり、`SELECT *` は全ての列を参照するという意味になります。

次に、`FROM` でどのテーブルから取り出すかを指定します。この例では `users` という名前のテーブルから取得しています。

とりだすレコードについては特に指定をしていないので、テーブルに登録されている全てのレコードを取得します。

取り出したデータのカラムを見ると `id`, `name`, `birthday`, `nickname`, `created_at`, `updated_at` があることが確認できます。これらはテーブルのカラムです。`*` を指定したので全てのカラムが取得されています。

次はこれらのカラムのうち、`name` と`birthday` のみ取得してみましょう。

In [3]:
%sql SELECT name, birthday FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
84 rows affected.

[('田中 花子', datetime.date(1985, 3, 12)),
 ('山田 太郎', datetime.date(1990, 7, 25)),
 ('鈴木 一郎', datetime.date(1988, 11, 5)),
 ('佐藤 由美', datetime.date(1995, 5, 18)),
 ('小林 健太', datetime.date(1980, 9, 30)),
 ('渡辺 美咲', datetime.date(1998, 2, 22)),
 ('中村 健司', datetime.date(1983, 8, 14)),
 ('木村 美香', datetime.date(1991, 12, 7)),
 ('高橋 啓介', datetime.date(1977, 4, 9)),
 ('吉田 さくら', datetime.date(1987, 6, 3)),
 ('田村 裕太', datetime.date(1993, 10, 17)),
 ('岡田 佳子', datetime.date(1982, 1, 23)),
 ('松本 明日香', datetime.date(1997, 9, 28)),
 ('伊藤 勇太', datetime.date(1986, 3, 1)),
 ('大西 みさ', datetime.date(1994, 7, 11)),
 ('古川 健太郎', datetime.date(1975, 11, 20)),
 ('小山 美沙', datetime.date(1996, 4, 5)),
 ('野口 裕太', datetime.date(1989, 12, 15)),
 ('橋本 美和', datetime.date(1999, 8, 19)),
 ('三浦 健太', datetime.date(1981, 2, 8)),
 ('井上 あや', datetime.date(1992, 6, 28)),
 ('斉藤 太一', datetime.date(1979, 10, 12)),
 ('北村 さやか', datetime.date(1990, 3, 26)),
 ('西田 和彦', datetime.date(1984, 5, 14)),
 ('山口 まり', datetime.date(1993, 9, 8)),
 ('吉岡 修', datetime.date(1978, 7, 3)),
 ('佐々木 みさき', datetime.date(1997, 1, 10)),
 ('岩崎 大輔', datetime.date(1980, 4, 27)),
 ('村上 亜美', datetime.date(1995, 8, 21)),
 ('高田 勇也', datetime.date(1987, 12, 3)),
 ('小川 かおり', datetime.date(1998, 6, 14)),
 ('宮崎 隆', datetime.date(1983, 2, 18)),
 ('田辺 さゆり', datetime.date(1991, 4, 30)),
 ('森田 裕太', datetime.date(1976, 8, 23)),
 ('佐野 まりな', datetime.date(1994, 11, 7)),
 ('神田 健一', datetime.date(1986, 5, 5)),
 ('沢田 みゆき', datetime.date(2000, 1, 1)),
 ('杉山 勇輝', datetime.date(1982, 9, 2)),
 ('岡本 みさと', datetime.date(1996, 7, 19)),
 ('服部 剛', datetime.date(1990, 1, 1)),
 ('岸田 あさみ', datetime.date(1985, 4, 13)),
 ('中田 裕介', datetime.date(1997, 10, 25)),
 ('松岡 さや', datetime.date(1989, 6, 8)),
 ('高野 大輔', datetime.date(1984, 12, 22)),
 ('福田 美穂', datetime.date(1992, 2, 4)),
 ('清水 賢太', datetime.date(1977, 6, 17)),
 ('石井 美紀', datetime.date(1993, 5, 29)),
 ('宮本 啓太', datetime.date(1981, 11, 11)),
 ('安田 さやか', datetime.date(1998, 9, 1)),
 ('新井 健太', datetime.date(1996, 10, 3)),
 ('田中 花子', datetime.date(2018, 5, 15)),
 ('山田 太郎', datetime.date(1920, 12, 2)),
 ('鈴木 一郎', datetime.date(2011, 8, 20)),
 ('佐藤 由美', datetime.date(2022, 3, 10)),
 ('渡辺 美咲', datetime.date(2020, 11, 25)),
 ('中村 健司', datetime.date(1930, 9, 8)),
 ('木村 美香', datetime.date(1932, 2, 14)),
 ('高橋 啓介', datetime.date(2015, 6, 30)),
 ('吉田 さくら', datetime.date(1930, 4, 5)),
 ('田村 裕太', datetime.date(2018, 10, 22)),
 ('岡田 佳子', datetime.date(1929, 3, 7)),
 ('松本 明日香', datetime.date(1940, 1, 12)),
 ('田中 太郎', datetime.date(2010, 8, 3)),
 ('高橋 雅子', datetime.date(2001, 1, 1)),
 ('鈴木 美香', datetime.date(2002, 1, 1)),
 ('谷田部 悠太', datetime.date(2000, 5, 24)),
 ('佐藤 花子', datetime.date(1990, 1, 20)),
 ('田村 太郎', datetime.date(2000, 11, 10)),
 ('吉田 一郎', datetime.date(2010, 5, 23)),
 ('渡辺 由美', datetime.date(1990, 1, 20)),
 ('高橋 健太', datetime.date(2000, 11, 10)),
 ('中村 美咲', datetime.date(2010, 5, 23)),
 ('鈴木 健司', datetime.date(1990, 1, 20)),
 ('大西 美香', datetime.date(2000, 11, 10)),
 ('小林 啓介', datetime.date(2010, 5, 23)),
 ('田中 さくら', datetime.date(1990, 1, 20)),
 ('岡田 裕太', datetime.date(2000, 11, 10)),
 ('松本 佳子', datetime.date(2010, 5, 23)),
 ('伊藤 明日香', datetime.date(1990, 1, 20)),
 ('山田 勇太', datetime.date(2000, 11, 10)),
 ('木村 みさ', datetime.date(2010, 5, 23)),
 ('山田 菜々子', datetime.date(2004, 4, 1)),
 ('佐藤 みゆき', datetime.date(2004, 4, 3)),
 ('田中 美優', datetime.date(2004, 4, 5))]

`SELECT` 文の次に取得したいカラムを指定しました。カラムは `,` で区切って複数指定することができます。最後のカラムには `,` をつけないように注意してください。

##  テーブルを一覧表示してみよう

先ほどの例では `users` というテーブルからデータを取得しました。しかし、データベースに用意されているテーブル名をすべて覚えておいたり、確認するのは大変です。そこで、テーブルを一覧表示する方法を学びます。

データベースには通常、複数のテーブルが登録されています。これらのテーブルを確認するには `SHOW tables` を実行します。

In [4]:
%sql SHOW tables;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
6 rows affected.

[('fruits',),
 ('grades',),
 ('players',),
 ('purchase_histories',),
 ('students',),
 ('users',)]

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## カラムの定義を確認してみよう

次はテーブルのカラムを確認する方法について学びます。
テーブルにはたくさんのカラムが用意されています。それぞれの定義は `DESCRIBE` を使って確認することができます。

※ `SHOW columns` や `SHOW fields` でも同じことができます。

さまざまな情報が出力されますが、いまはカラムの名称さえ確認できれば問題ありません。

In [6]:
%sql DESCRIBE users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
7 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(256)', 'NO', '', None, ''),
 ('birthday', 'date', 'YES', '', None, ''),
 ('gender', "enum('男','女')", 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''),
 ('created_at', 'datetime', 'NO', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED'),
 ('updated_at', 'datetime', 'NO', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

なお、これらはあくまでMySQLのみで、PostgreSQLやSQLiteなどでは方法は異なるので注意です。それぞれのリファレンスを確認してください。

## 取り出すデータの件数をコントロールしよう

この教材で利用しているデータベースの users テーブルには数十件のレコードが登録されています。しかし、実際はこの程度のレコード数であることはまずないでしょう。もしこれが数万件、数百万件というデータベースであった場合、どうなるでしょうか。もし同じようなクエリを実行した場合、すべてのデータが取り出されるまでにかなりの時間がかかりますし、取り出したデータを見るのも大変です。そもそもデータベースに負荷をかけすぎてしまう可能性もあります。つまり、取り出すデータの件数を制限することは非常に重要です。

取り出すデータの一部分（先頭から20件など）を取得するには次のように `LIMIT` を指定します。

In [7]:
%sql SELECT * FROM users LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
20 rows affected.

[(1, '田中 花子', datetime.date(1985, 3, 12), '女', 37, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (2, '山田 太郎', datetime.date(1990, 7, 25), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (3, '鈴木 一郎', datetime.date(1988, 11, 5), '男', 34, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (4, '佐藤 由美', datetime.date(1995, 5, 18), '女', 27, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (5, '小林 健太', datetime.date(1980, 9, 30), '男', 42, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (6, '渡辺 美咲', datetime.date(1998, 2, 22), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (7, '中村 健司', datetime.date(1983, 8, 14), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (8, '木村 美香', datetime.date(1991, 12, 7), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (9, '高橋 啓介', datetime.date(1977, 4, 9), '男', 45, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (10, '吉田 さくら', datetime.date(1987, 6, 3), '女', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (12, '岡田 佳子', datetime.date(1982, 1, 23), '女', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (13, '松本 明日香', datetime.date(1997, 9, 28), '女', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (14, '伊藤 勇太', datetime.date(1986, 3, 1), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (15, '大西 みさ', datetime.date(1994, 7, 11), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (16, '古川 健太郎', datetime.date(1975, 11, 20), '男', 47, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (17, '小山 美沙', datetime.date(1996, 4, 5), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (18, '野口 裕太', datetime.date(1989, 12, 15), '男', 33, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (19, '橋本 美和', datetime.date(1999, 8, 19), '女', 23, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (20, '三浦 健太', datetime.date(1981, 2, 8), '男', 41, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]

`LIMIT` は取得するレコード数の上限を指定します。このケースだと`LIMIT 20` で20件に制限されます。取得されるレコードは先頭から順に20件となります。

もしデータを20件づつ繰り返し取得したい場合は、`OFFSET` を使って取り出すデータの先頭位置を指定します。

In [8]:
%sql SELECT * FROM users LIMIT 20 OFFSET 20;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
20 rows affected.

[(21, '井上 あや', datetime.date(1992, 6, 28), '女', 30, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (22, '斉藤 太一', datetime.date(1979, 10, 12), '男', 43, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (23, '北村 さやか', datetime.date(1990, 3, 26), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (24, '西田 和彦', datetime.date(1984, 5, 14), '男', 38, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (25, '山口 まり', datetime.date(1993, 9, 8), '女', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (26, '吉岡 修', datetime.date(1978, 7, 3), '男', 44, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (27, '佐々木 みさき', datetime.date(1997, 1, 10), '女', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (28, '岩崎 大輔', datetime.date(1980, 4, 27), '男', 42, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (29, '村上 亜美', datetime.date(1995, 8, 21), '女', 27, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (30, '高田 勇也', datetime.date(1987, 12, 3), '男', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (32, '宮崎 隆', datetime.date(1983, 2, 18), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (34, '森田 裕太', datetime.date(1976, 8, 23), '男', 46, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (36, '神田 健一', datetime.date(1986, 5, 5), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (38, '杉山 勇輝', datetime.date(1982, 9, 2), '男', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (40, '服部 剛', datetime.date(1990, 1, 1), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]

`OFFSET` はスキップする行数を指定します。このケースだと先頭から20番目までをスキップするので、21番目からのデータを取得します。

## 確認テスト

(1) fruitsテーブルの中身を全て表示し、一番IDの大きい数値を入力してください。

In [10]:
%sql SELECT * FROM fruits

 * mysql+pymysql://root:***@localhost:3306/sql_railway
46 rows affected.

[(1, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (2, 'バナナ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (3, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (4, 'ぶどう\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (5, 'みかん\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (6, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (7, 'キウイ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (8, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (9, 'パイナップル\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (10, 'さくらんぼ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (11, 'メロン\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (12, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (13, 'キウイ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (14, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (15, 'バナナ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (16, 'ぶどう\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (17, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (18, 'みかん\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (19, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (20, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (21, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (22, 'さくらんぼ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (23, 'メロン\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (24, 'バナナ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (25, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (26, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (27, 'パイナップル\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (28, 'ぶどう\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (29, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (30, 'キウイ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (31, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (32, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (33, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (34, 'キウイ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (35, 'みかん\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (36, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (37, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (38, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (39, 'メロン\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (40, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (41, 'さくらんぼ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (42, 'りんご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (43, 'いちご\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (44, 'ぶどう\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (45, 'キウイ\r', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (46, 'りんご', datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]

(2) usersテーブルの20番目のレコードにおけるnameカラムの値をそのまま入力してください。

In [16]:
%sql SELECT * FROM users LIMIT 20 OFFSET 19

 * mysql+pymysql://root:***@localhost:3306/sql_railway
20 rows affected.

[(20, '三浦 健太', datetime.date(1981, 2, 8), '男', 41, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (21, '井上 あや', datetime.date(1992, 6, 28), '女', 30, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (22, '斉藤 太一', datetime.date(1979, 10, 12), '男', 43, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (23, '北村 さやか', datetime.date(1990, 3, 26), '女', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (24, '西田 和彦', datetime.date(1984, 5, 14), '男', 38, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (25, '山口 まり', datetime.date(1993, 9, 8), '女', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (26, '吉岡 修', datetime.date(1978, 7, 3), '男', 44, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (27, '佐々木 みさき', datetime.date(1997, 1, 10), '女', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (28, '岩崎 大輔', datetime.date(1980, 4, 27), '男', 42, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (29, '村上 亜美', datetime.date(1995, 8, 21), '女', 27, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (30, '高田 勇也', datetime.date(1987, 12, 3), '男', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (32, '宮崎 隆', datetime.date(1983, 2, 18), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (34, '森田 裕太', datetime.date(1976, 8, 23), '男', 46, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (36, '神田 健一', datetime.date(1986, 5, 5), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (38, '杉山 勇輝', datetime.date(1982, 9, 2), '男', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]

(3) usersテーブルの30番目から50番目を取得し、30番目のnameカラムの値をそのまま入力してください。

(4) (3)で取得した50番目のnameのカラムの値をそのまま入力してください。

In [19]:
%sql SELECT * FROM users LIMIT 21 OFFSET 29

 * mysql+pymysql://root:***@localhost:3306/sql_railway
21 rows affected.

[(30, '高田 勇也', datetime.date(1987, 12, 3), '男', 35, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (32, '宮崎 隆', datetime.date(1983, 2, 18), '男', 39, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (34, '森田 裕太', datetime.date(1976, 8, 23), '男', 46, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (36, '神田 健一', datetime.date(1986, 5, 5), '男', 36, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (38, '杉山 勇輝', datetime.date(1982, 9, 2), '男', 40, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (40, '服部 剛', datetime.date(1990, 1, 1), '男', 32, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (41, '岸田 あさみ', datetime.date(1985, 4, 13), '女', 37, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (42, '中田 裕介', datetime.date(1997, 10, 25), '男', 25, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (43, '松岡 さや', datetime.date(1989, 6, 8), '女', 33, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (44, '高野 大輔', datetime.date(1984, 12, 22), '男', 38, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (45, '福田 美穂', datetime.date(1992, 2, 4), '女', 30, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (46, '清水 賢太', datetime.date(1977, 6, 17), '男', 45, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (47, '石井 美紀', datetime.date(1993, 5, 29), '女', 29, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (48, '宮本 啓太', datetime.date(1981, 11, 11), '男', 41, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (49, '安田 さやか', datetime.date(1998, 9, 1), '女', 24, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10)),
 (50, '新井 健太', datetime.date(1996, 10, 3), '男', 26, datetime.datetime(2024, 2, 19, 0, 34, 10), datetime.datetime(2024, 2, 19, 0, 34, 10))]