| Version | Published Date| Details |
| -- | -- | -- |
| ver.1.0.0 | 2024/02/14 | 初版リリース |

**↓必ず最初にセットアップ用のセルを実行し、完了（セルの左端にチェックマーク）してから取り組んでください。**

In [1]:
!git clone https://github.com/TechBowl-japan/SQLRailway-setup.git
!sudo sh ./SQLRailway-setup/setup.sh
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306/sql_railway

Cloning into 'SQLRailway-setup'...
remote: Enumerating objects: 66, done.
remote: Counting objects: 100% (66/66), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 66 (delta 25), reused 60 (delta 19), pack-reused 0
Receiving objects: 100% (66/66), 20.18 KiB | 10.09 MiB/s, done.
Resolving deltas: 100% (25/25), done.

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 25.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
su: warning: cannot change directory to /nonexistent: No such file or directory
mysql: [Warning] Using a password on the command line interface can be insecure.
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.5 MB/s eta 0:00:00

# 集計関数を使ってみよう

前回のstationで`count()` が出てきました。これが集計関数と呼ばれるものです。

次のセルを実行してみましょう。

In [2]:
%sql SELECT count(id) FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(84,)]

usersテーブルの件数が出力されていれば成功です。

`count({カラム})` は引数に指定したカラムの件数を出力します。

count関数のような引数を受け取って処理を行い、その結果を返すものを関数と呼びます。

その中でもなんらかの値の集まりに対して集計処理(合計・平均・最大・最小など)を行うものを__集計関数__と呼びます。

Excelのsum関数などをイメージするとわかりやすいかもしれません。

集計関数には下記のようなものがあります。

## count
`count()` は引数のカラムのデータの総数を求める関数です。

In [3]:
# userの件数を取得する
%sql SELECT count(id) FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(84,)]

## sum
`sum()` は引数のカラムのデータの総和を求める関数です。

In [4]:
# 購入履歴テーブル(purchase_histories)から購入合計金額を取得する
%sql SELECT sum(price) FROM purchase_histories;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(Decimal('829100'),)]

## avg
`avg()` は引数のカラムのデータの平均値を求める関数です。

In [5]:
# 平均年齢を取得する
%sql SELECT avg(age) FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(Decimal('32.1310'),)]

## max
`max()` は引数のカラムのデータの最大値を求める関数です。

In [6]:
# 一番高い年齢を取得する
%sql SELECT max(age) FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(102,)]

## min

`min()` は引数のカラムのデータの最小値を求める関数です。

In [7]:
# 一番低い年齢を取得する
%sql SELECT min(age) FROM users;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(0,)]

## GROUP BYと組み合わせて使う(station4の復習)

station4でもうすでに学習済みですが、集計関数は`GROUP BY` と組み合わせて使うことができます。

`GROUP BY` を使うことでグルーピングをすることができます。

グルーピングし、グループごとに平均値を取得するなどができます。

例えば、性別ごとの平均年齢を取得するには下記のようなクエリになります。

In [8]:
%sql SELECT gender, avg(age) FROM users GROUP BY gender;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
2 rows affected.

[('女', Decimal('30.2889')), ('男', Decimal('34.2564'))]

性別ごとの平均年齢が出力されていれば成功です。

`GROUP BY gender` で性別でグルーピングし、`avg(age)` で年齢の平均値を求めています。これで性別ごとの平均年齢を取り出すことができます。

In [9]:
%sql SELECT * FROM students

 * mysql+pymysql://root:***@localhost:3306/sql_railway
51 rows affected.

[(1, '田中 花子', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (2, '山田 太郎', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (3, '鈴木 一郎', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (4, '佐藤 由美', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (5, '小林 健太', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (6, '渡辺 美咲', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (7, '中村 健司', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (8, '木村 美香', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (9, '高橋 啓介', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (10, '吉田 さくら', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (11, '田村 裕太', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (12, '岡田 佳子', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (13, '松本 明日香', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (14, '伊藤 勇太', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (15, '大西 みさ', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (16, '古川 健太郎', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (17, '小山 美沙', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (18, '野口 裕太', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (19, '橋本 美和', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (20, '三浦 健太', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (21, '井上 あや', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (22, '斉藤 太一', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (23, '北村 さやか', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (24, '西田 和彦', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (25, '山口 まり', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (26, '吉岡 修', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (27, '佐々木 みさき', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (28, '岩崎 大輔', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (29, '村上 亜美', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (30, '高田 勇也', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (31, '小川 かおり', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (32, '宮崎 隆', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (33, '田辺 さゆり', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (34, '森田 裕太', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (35, '佐野 まりな', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (36, '神田 健一', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (37, '沢田 みゆき', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (38, '杉山 勇輝', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (39, '岡本 みさと', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (40, '服部 剛', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (41, '岸田 あさみ', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (42, '中田 裕介', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (43, '松岡 さや', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (44, '高野 大輔', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (45, '福田 美穂', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (46, '清水 賢太', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (47, '石井 美紀', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (48, '宮本 啓太', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (49, '安田 さやか', 1, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (50, '新井 健太', 2, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41)),
 (51, '若林 大輝', 3, datetime.datetime(2024, 2, 19, 8, 15, 41), datetime.datetime(2024, 2, 19, 8, 15, 41))]

# 確認テスト

(1) studentsテーブルの学年カラム(grade_level)から1年生の人数を取り出して入力してください。

In [11]:
%sql SELECT grade_level, count(id) FROM students GROUP BY grade_level;

 * mysql+pymysql://root:***@localhost:3306/sql_railway
3 rows affected.

[(1, 17), (2, 17), (3, 17)]

(2) studentsテーブルの学年カラム(grade_level)から2年生の人数を取り出して入力してください。

In [ ]:
%%sql

(3) studentsテーブルの学年カラム(grade_level)から3年生の人数を取り出して入力してください。

In [ ]:
%%sql